.footer{
    background-color: rgb(77, 75, 75);
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.footer .row{
    padding: 10px;
}
.footer .row h4{
    color: white;
}

.footer .row ul li{
    list-style-type: none;
    margin-bottom: 20px;
    
}

.footer .row ul li a:hover{
    color: rgb(148, 148, 245);
}

.footer .row ul li a{
    color: white;
    text-decoration: none;
    
}
.footer .row #contact ul li{
    list-style-image: none;
    list-style-type: none;
}
fa-icon{
    padding-right: 10px;
}