<div class="footer">
  <div class="row">
    <div class="col-4">
      <h4>Useful Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Testimonial</a></li>
        <li><a href="#">Industries</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4>Our Services</h4>
      <ul>
        <li><a href="#">ios</a></li>
        <li><a href="#">Android</a></li>
        <li><a href="#">Dapp Development Service</a></li>
        <li><a href="#">Software Development</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Data Science Analystics</a></li>
        <li><a href="#">IT Professional Services</a></li>
      </ul>
    </div>
    <div id="contact"  class="col-4">
      <h4>Contacts</h4>
      <ul>
        <li>
          <a href="#"
            ><fa-icon [icon]="location"></fa-icon> Office:- B 401, 3RD Floor, Uttam Vihar, Dwarka,
            Delhi-110059 India</a
          >
        </li>
        <li><a href="#"><fa-icon [icon]="phone"></fa-icon>(+91) 9319411684</a></li>
        <li>
          <a href="#"
            ><fa-icon [icon]="location"></fa-icon>Branch Office : SO-15,3 rd floor, Magneto offizo,
            Labhandih,Raipur, Chhattisgarh 492001 India</a
          >
        </li>
        <li><a href="#"><fa-icon [icon]="phone"></fa-icon>(+91)07714038148</a></li>
        <li><a href="#"><fa-icon [icon]="email"></fa-icon>info@railworld.co.in</a></li>
        <li><a href="#"><fa-icon [icon]="location"></fa-icon>Our Upcoming Branches : Gurgaon, Bhopal</a></li>
      </ul>
    </div>
  </div>
</div>
