.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9fa;
    border-bottom: 1px solid rgb(204, 203, 203);
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 999;
    
    
}

.logo img {
    
    width: 155px;
    height: 60px;
    margin-left: 15px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9fa;
    padding: 10px;
    list-style: none;
    width: 270px;
    border: 1px solid #f9f9fa;
}

.dropdown-menu li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(240, 237, 237);
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: -2px;
}
.search button:hover{
    background-color: white;
    color: black;
}

.profile a {
    text-decoration: none;
    color: #333;
    padding-right: 25px;
}
fa-icon{
    padding-left: 6px;
}