<div class="container-fluid">
  <img src="/assets/home lending img.jpg" alt="">
    <div *ngIf="!showSignUp" class="card">
    <div class="title">SingIn</div>
    <div class="line"></div>
    <form #adminLogin="ngForm" (ngSubmit)="SubmitForm(adminLogin.value)">
      <input type="email" ngModel name="email" placeholder="Enter email">
      <input type="password" ngModel name="password" placeholder="Enter password">
      <button >SingIn</button>
    </form>
    <a href="#">Forget Password ?</a>    
    <a (click)="openSingUp()" href="/sign-in">If you don't have account</a>    

  </div>
  <!-- ------------ -->

  <div *ngIf="showSignUp" class="card">
    <div class="title">SingUp</div>
    <div class="line"></div>
    <form #adminLogin="ngForm" (ngSubmit)="SubmitForm(adminLogin.value)">
      <input type="text" ngModel name="name" placeholder="Enter name">
      <input type="email" ngModel name="addres" placeholder="Enter address">
      <input type="email" ngModel name="email" placeholder="Enter email">
      <input type="password" ngModel name="password" placeholder="Enter password">
      <button >SingUp</button>
    </form>
    <!-- <a href="#">Forget Password ?</a>   --> 
    <a (click)="openSingIn()" href="/sign-in">Already have account? click here</a>     

  </div>
</div>