<div class="container-fluid">
    <img src="/assets/lending-home.png" alt="Loading.....">
    <div class="intro">
        <span>Railworld India Private Limited</span>
        <h1>We Are Software Developer</h1>
        <span>Good Life Begins With A Good Company</span>
        <span>Create A Better Future For Yourself</span>
        <br>
        <button routerLink="/about">Contact Us</button>
    </div>
    <div class="row">
        <div class="col-6">
            <h1>What We Do</h1>
            <p>As your Recruitment of software and app development, Railworld India helps you get a hold on your recruitment so you can attract and retain top talent. We know exactly what it takes to recruit and retain new market demands who truly fit your culture. For us, it all starts by putting people first in everything we do.</p>
            <button>Our Service</button>
        </div>
        <div class="col-6">
            <img src="/assets/what we do.jpg" alt="Loding.....">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="/assets/about-img1.jpg" alt="Lodding.....">
        </div>
        <div class="col-6">
            <h3>About Us</h3>
            <h1>Oriental Developer of Software and App</h1>
            <p>Railworld India is a Global Software solutions provider specializing in services for app and software developer as well as end users.</p>
            <p>We strive to help organizations better understand how the world of work is changing, the forces that are shaping it and how to win in this environment. When you are looking for virtual presence, Turnaround Time and a whole bunch of other things will be spinning through your head.</p>
            <button>Know More</button>
            <button>Contact Us</button>
        </div>
    </div>
</div>